.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-wrapper {
  width: 85%;
  height: 85%;
  display: flex;
}

.register-left, .register-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-title {
  margin: 0 0 8px 0;
  text-align: center; /*might remove*/
  font-size: 3.5rem;
  font-weight: 800;
  color: crimson;
}

.logo-subtitle {
  text-align: center; /*might remove*/
  font-size: 1.5rem;
  color: crimson;
}

.register-form {
  height: 400px;
  padding: 20px;
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(240, 128, 128, 0.432);
}

.register-input {
  height: 48px;
  padding: 0 0 0 20px; 
  border-radius: 8px;
  border: 1px solid lightgrey;
  font-style: 1rem;
}

.register-input:focus {
  outline: none;
}

.register-button {
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: lightblue;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.register-button:hover {
  background-color: blue;
  color: white;
}

.register-login-button {
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: rgb(60, 165, 60);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.register-button:disabled, .register-login-button:disabled {
  cursor: not-allowed;
}