.message {
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.message-main-container {
  display: flex;
  align-items: center;
}

.message-avatar {
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  max-width: 500px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(5, 147, 194, 0.773);
  color: rgb(252, 252, 252);
  font-size: 2rem;
  word-wrap: break-word;
}

.message-timestamp {
  color: aliceblue;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 10px #555454fe;
}

.message.owned {
  align-items: flex-end;
}

.message.owned .message-content{
  background-color: rgba(66, 16, 71, 0.721);
  color: rgb(252, 252, 252)
}