.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url('../../../public/assets/login-page-bg.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login-wrapper {
  width: 65%;
  height: 85%;
  display: flex;
}

.login-left, .login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-logo-title {
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.432);
}

.login-form {
  height: 500px;
  padding: 20px;
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px; 
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.432);
}

.login-input {
  height: 8vh;
  margin:  24px 0 24px 0 ; 
  padding: 0 0 0 20px; 
  border-radius: 8px;
  border: 1px solid lightgrey;
  font-size: 2rem;
  color: aliceblue;
  background: transparent;
  outline: none;
}

.login-input:focus {
  outline: none;
  background: transparent;
}

.login-input::placeholder {
  opacity: 85%;
  color: aliceblue;
}

.login-button {
  height: 8vh;
  margin: 48px 0 24px 0;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-weight: 700;
  font-size: 2.5rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: aliceblue;
  color: black;
}

.login-register-button {
  height: 6vh;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.login-register-button:hover {
  border: 5px solid aliceblue;
  color: aliceblue;
}

.login-button:disabled, .login-register-button:disabled {
  cursor: not-allowed;
}