.messenger {
  height: 100vh;
  display: flex;
} 

.chat-menu {
  flex: 2;
  background-color: aqua;
}

.chat-menu-search {
  width: 90%;
  padding: 8px 0 0 0 ;
  border: none;
  background-color: aqua;
  border-bottom: 1px solid lightgray;
}

.chat-box {
  flex: 8;
  background-color: coral;
}

.chat-box-wrapper {
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.chat-box-top {
  padding: 0 8px 0 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat-box-top::-webkit-scrollbar {
  display: none;
}

.chat-box-bottom {
  margin: 8px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-box-textarea {
  width: 80%;
  width: 90%;
  padding: 8px;
  border: none;
}

.chat-box-submit {
  width: 70px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: aliceblue;
}

.chat-online {
  flex: 3;
  background-color: rgb(250, 250, 58);
}

.chat-menu-wrapper, 
.chat-box-wrapper, 
.chat-online-wrapper {
  padding: 16px;
}

.chat-null-span {
  position: absolute;
  top: 25%;
  font-size: 4rem;
  color: grey;
  text-align: center;
  cursor: default;
}
