.messenger {
  height: 100vh;
  display: flex;
} 

.conversations-menu {
  flex: 3;
  background-color: rgb(0, 0, 0);
  overflow-y: scroll;
  scrollbar-width: none;
}

.conversations-menu-wrapper {
  padding: 16px 0;
}

.conversations-menu-title {
  width: 90%;
  padding: 8px 0 0 0 ;
  margin: 0 0 16px 0;
  border: none;
  border-bottom: 3px solid aliceblue;
  text-align: center;
  font-size:  3rem;
  font-weight: 900;
  color: aliceblue;
}

.chat-box {
  flex: 8;
  background-image: url('../../../public/assets/message-container-bg.gif');
}
.chat-box-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-box-top {
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat-box-top::-webkit-scrollbar,
.conversations-menu::-webkit-scrollbar {
  display: none;
}

.chat-box-bottom {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.539);
}

.chat-box-textarea {
  width: 80%;
  height: 25%;
  padding: 8px;
  margin: 0 0 0 16px;
  border: none;
  border-bottom: 5px solid aliceblue;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size:  1.5rem;
  color: aliceblue;
}
.chat-box-textarea::placeholder {
  opacity: 55%;
  font-size:  1.5rem;
  color: aliceblue;
}

.chat-box-textarea::-webkit-scrollbar {
  display: none;
}

.chat-box-submit {
  width: 20%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size:  3rem;
  font-weight: 900;
  color: aliceblue;
  cursor: pointer;
}

.chat-box-submit:hover {
  border: 5px solid aliceblue;
  border-radius: 8px;
  background-color: transparent;
}

.chat-null-span {
  top: 25%;
  position: absolute;
  margin: 16px;
  text-align: center;
  font-size: 4rem;
  color: aliceblue;
  cursor: default;
}
